<div class="content-wrapper">

  <h2>Crear Ban</h2>

  <form (ngSubmit)="submit()" #form="ngForm">

    <div class="field">
      <label>DNI</label>
      <input 
        type="text"
        [(ngModel)]="dni"
        name="dni"
        required
      />
    </div>

    <div class="field">
      <label>Razón</label>
      <input 
        type="text"
        [(ngModel)]="reason"
        name="reason"
        required
      />
    </div>

    <div class="field">
      <label>Fecha Expiración</label>
      <input 
        type="date"
        [(ngModel)]="expires_at"
        name="expires_at"
      />
    </div>

    <button type="submit" [disabled]="form.invalid">
      Crear Ban
    </button>
  </form>
</div>