<nav class="main-navbar" *ngIf="user$ | async as user">

  <a *ngIf="auth.hasRole([ROLE.USER])"
     routerLink="/"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">
    Trayectos
  </a>

  <a *ngIf="auth.hasRole([ROLE.USER])"
     routerLink="/my-reservations"
     routerLinkActive="active">
    Mis reservas
  </a>

  <a *ngIf="auth.isRouteManager()"
     routerLink="/admin-routes"
     routerLinkActive="active">
    Gestor de rutas
  </a>

  <a *ngIf="auth.isAdminOrModerator()"
     routerLink="/listbans"
     routerLinkActive="active">
    Lista bans
  </a>

  <a *ngIf="auth.isAdmin()"
     routerLink="/adminusuarios"
     routerLinkActive="active">
    Administrar usuarios
  </a>

</nav>