<nav class="topbar">
  <button *ngIf="!auth.isLoggedIn()" routerLink="/" routerLinkActive="active">Inicio</button>
  <button *ngIf="!auth.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</button>
  <button *ngIf="!auth.isLoggedIn()" routerLink="/register" routerLinkActive="active">Registro</button>
  <button *ngIf="auth.isLoggedIn()" routerLink="/profile" routerLinkActive="active">Perfil</button>
  <button *ngIf="auth.isLoggedIn()" (click)="logout()">Logout</button>
</nav>

<hr>