<div class="content-wrapper">

  <h2>Reserva</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="reservation-form">

    <div class="field">
      <label>DNI</label>
      <input type="text" 
        formControlName="dni" 
        style="text-transform: uppercase" 
        [class.invalid]="form.get('dni')?.touched && form.get('dni')?.invalid"
        [class.valid]="form.get('dni')?.touched && form.get('dni')?.valid">

      <div class="error" *ngIf="form.get('dni')?.touched && form.get('dni')?.invalid">

        <small *ngIf="form.get('dni')?.errors?.['required']">
          El DNI es obligatorio
        </small>

        <small *ngIf="form.get('dni')?.errors?.['invalidFormat']">
          Formato inválido (12345678A)
        </small>

        <small *ngIf="form.get('dni')?.errors?.['invalidLetter']">
          Letra del DNI incorrecta
        </small>
      </div>
    </div>

    <div class="field">
      <h3>Método de pago</h3>

      <div class="radio-group">
        <label>
          <input type="radio" value="card" formControlName="paymentMethod">
          Tarjeta
        </label>

        <label>
          <input type="radio" value="bizum" formControlName="paymentMethod">
          Bizum
        </label>
      </div>
    </div>

    <button type="submit">
      Continuar
    </button>
  </form>
</div>